h1 {
    background-color: indigo;
    font-size: 50px;
    color: white;
    text-align: center;
}
.p-style{
    color: white;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    text-align: center;
    letter-spacing: 1ch;
    text-decoration: underline dotted;
}
#p-lorem{
    color: white;
    background-color: blue;
}
*{
    background-color: white;
}